services:
  scrap:
    build: .  
    ports: 
      - "8000:8000"
    command: 
      python src/main.py
    volumes: 
      - .:/code 
    depends_on:  # ensure the database container starts before the web container
      - db
     
  db:
    image: postgres:18 

    volumes:
      - postgres_data_scrap:/var/lib/postgresql

    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

  pgadmin:
    image: dpage/pgadmin4:latest
    ports:
      - "5050:80"
    environment:
      - "PGADMIN_DEFAULT_EMAIL=admin@admin.com"
      - "PGADMIN_DEFAULT_PASSWORD=admin"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data_scrap:
  pgadmin_data:
