services:
  scrap:
    build: .  

    ports: 
      - "8000:8000"

    command: 
      python src/main.py
    volumes: 
      - .:/code 

    depends_on:  # ensure the database container starts before the web container
      - db
     
  db:
    image: postgres:18 

    volumes:
      - postgres_data_scrap:/var/lib/postgresql

    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

volumes:
  postgres_data_scrap:
