services:
  scrap:
    build: .  
    ports: 
      - "8000:8000"
    command: python src/main.py
    volumes: 
      - .:/code 
      - ./dumps:/code/dumps  # for dumps
    depends_on:  # ensure the database container starts before the web container
      - db
     
  db:
    image: postgres:17  # downgraded from ver. 18 to correspond postgresql-client for debian trixie

    volumes:
      - postgres_data_scrap:/var/lib/postgresql/data  # added /data for psql < 18

    environment:
      - "POSTGRES_HOST_AUTH_METHOD=trust"

  pgadmin:
    image: dpage/pgadmin4:latest
    ports:
      - "5050:80"
    environment:
      - "PGADMIN_DEFAULT_EMAIL=admin@admin.com"
      - "PGADMIN_DEFAULT_PASSWORD=admin"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  postgres_data_scrap:
  pgadmin_data:
